SECRET_KEY=django-insecure-fallback-secret-key-for-github-actions
DB_PASSWORD=
STRIPE_SECRET_KEY=
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
POSTGRES_DB=lms_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
DB_HOST=db
DB_PORT=5432
