SECRET_KEY=django-insecure-fallback-key-for-github-actions
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,84.201.148.30

POSTGRES_DB=lms_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
DB_HOST=db
DB_PORT=5432

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

STRIPE_SECRET_KEY=sk_test_placeholder
